.range-grid-container{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
    min-width: 800px;
    width: 100%;
    height: 800px;
    gap: 4px;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(5, 49, 54);
    color: aliceblue;
}

h1 {
    color: aliceblue;
    text-align: center;
    vertical-align: center;
}

h2 {
    color: aliceblue;
    text-align: center;
}

.cell-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
    border: 2px solid rgb(5, 49, 54);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.cell-container.suited{
    background: linear-gradient(to right, rgb(43, 107, 136), rgb(43, 107, 136)) ;
}

.cell-container.off-suit{
    background: linear-gradient(to right, rgb(212, 181, 186), rgb(212, 181, 186));
}

.cell-container.pair{
    background: linear-gradient(to right, rgb(44, 155, 90), rgb(44, 155, 90));
}

.cell-name {
    align-self: flex-start; /* Align to the top left */
}

.cell-percentage {
    align-self: center; /* Align to the center horizontally */
    margin-top: auto; /* Push to the bottom */
}

.split-container {
    display: flex;
}

.left-container {
    background-color: transparent ;
    width: 100%;
    padding: 10px;
}

.right-container {
    background-color: transparent;
    padding: 10px;
    width: 100%;
}

.button-container {
    padding: 10px;
}

.simple-container {
    padding: 5px;
}